.button {
    background-color: #522b91; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 12px 60px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color:#3a1a6d; 
    padding: 17px 65px; 
  }
  
  .button:active {
    transform: scale(0.95); /* Зменшення кнопки при натисканні */
  }